.layout-left {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
}

.layout-left h3 {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.layout-left p {
    font-size: 14px;
}


.grid-view-col-6{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    column-gap: 6px;
}

.grid-item{
    border-radius: 4px;
    color: var(--text-color);
    font-size: 12px;
    padding: var(--spacing-xs);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 1 / span 1;
    background-color: var(--main-major);
}