.container {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-main);
}
.main {
  display: flex;
  background-color: var(--bg-main);
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.main.open {
  width: calc(100% - 280px);
}

.container-custom.col-2{
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
  }
  .main.open {
    width: 100%;
    height: auto;
  }
}